header nav ul li{
  display:inline;
  text-decoration: none;
}
body{
background-color: #8dbac6;
}
ul{
  list-style:none;
}

a:link{
  text-decoration:none;
  color:black;
}

.row{
  margin: 0;
}

#menu-header nav ul li{
  text-align: center;
  background-color: #375ebe;
  padding: 10px;
  margin-top: -10px;
}

#menu-header nav ul li:hover{
  background-color: #5e85e8;
}
#menu-header nav ul li a{
  color:#fff;
  font-weight: bold;
}

textarea{
  resize: none;
}
.iluminacion:hover{
  box-shadow: 0px 0px 5px blue;
  height: 24px;
}
@media  screen and (max-width: 765px) {
  #busqueda{
    display: none;
  }
}
